body {
  background-color: black; /* Dark gray background */
  color: #ffffff; /* White text for contrast */
  font-family: "Courier New", Courier, monospace;
}

.logo {
  display: inline-block; /* Ensure the logo is treated as an inline element */
  max-width: 50px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
}

.home-pics {
  margin: 0 auto; /* Center the images */
  display: flex; /* Use flexbox for layout */
  max-width: 200px; /* Limit the width of the container */
}
