body {
  background-color: black; /* Dark gray background */
  color: #ffffff; /* White text for contrast */
  font-family: "Courier New", Courier, monospace;
}

.container-1 {
  margin: 10px auto; /* Center the container */
  max-width: 1200px; /* Set a maximum width for the container */
  padding: 10px; /* Add padding for spacing */
}

.logo {
  display: inline-block; /* Ensure the logo is treated as an inline element */
  max-width: 50px; /* Adjust the size of the logo */
  height: auto; /* Maintain aspect ratio */
}

.imgone {
  margin: 10 auto; /* Center the images */
  max-width: 400px;
  height: auto; /* Maintain aspect ratio */
}

.imgthree {
  margin: 10 auto; /* Center the images */
  max-width: 325px;
  height: auto; /* Maintain aspect ratio */
}
